#about {
  position: relative;
  min-height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  /* background-color: var(--bgColor); */
}

#about .about__image {
  position: relative;
  right: 0px;
  animation: right-to-left-animation 1.2s 1;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  min-width: 40%;
}

#about .about__image img {
  width: 100%;
  max-width: 350px;
}

#about .about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  animation: left-to-right-animation 1.5s 1;
}

#about .about__list {
  list-style-type: none;
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: start;
  row-gap: 40px;
  color: var(--textColor);
  word-spacing: 5px;
  line-height: 25px;

  opacity: var(--paragraphOpacity);
}

#about .about__list-2,
#about .about__list-4 {
  width: 44ch;
}

#about .about__list-3 {
  width: 47ch;
}
