.projects {
  margin-top: 2.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.projects__card {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  width: 80%;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: var(--boxShadow);
  transition: transform 0.1s ease-in-out;
  bottom: 0;

  /* border: 1px ridge var(--navbarButton); */
}

.projects__card:nth-child(even) {
  justify-content: space-between;
}

.projects__card:hover {
  box-shadow: none;
  transform: scale(0.975);
}

.projects__card-img {
  width: 35%;
}

.projects__card:nth-child(even) .projects__card-img {
  order: 1;
}

.projects__card-img img {
  display: block;
  width: 100%;
}

.projects__card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  text-align: start;
  height: fit-content;
  padding: 15px;
}

.projects__card-content h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.projects__card-content p {
  max-width: 650px;
  font-size: 0.8rem;

  opacity: var(--paragraphOpacity);
  margin: 1.5rem 0;
}

.projects__card-buttons {
  display: flex;
  gap: 10px;
}

.projects__card-buttons a {
  all: unset;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.projects__card-buttons a:hover {
  transform: scale(1.2);
}
