.skills {
  display: flex;
  flex-direction: column;
}

.skills__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__image {
  width: 20%;
  box-shadow: var(--barShadow);
}

.skills__image img {
  width: 100%;
}

.skills__content {
  width: 50%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.skills__list-item {
  position: relative;
  max-width: 90%;
  height: 35px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--navbarColor);
  color: white;
  box-shadow: var(--barShadow);
}

.skills__list-item-percantage {
  position: absolute;
  z-index: 1;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8rem;
}

.skills__list-item-bar {
  position: relative;
  height: 100%;
  background-color: var(--barBackground);
}

.skills__list-item-bar .skills__list-item-name {
  position: absolute;
  width: fit-content;
  height: fit-content;
  /* color: var(--bgColor); */
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
