@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --bgColor: #131722;
  --navbarColor: #1a1e29;
  --navbarColor50: rgba(26, 30, 41, 0.95);
  --textColor: rgb(243, 239, 239);
  --secondaryBGColor: rgb(189, 182, 182);
  --boxShadow: 0 2px 15px -3px rgba(255, 255, 255, 0.07),
    0 10px 20px -2px rgba(255, 255, 255, 0.04);
  --navbarButton: 30px;
  --paragraphOpacity: 75%;
  --barBackground: rgb(177 66 42);
  --barShadow: 0 2px 15px -3px rgba(177, 66, 42, 0.25),
    0 10px 20px -2px rgba(177, 66, 42, 0.25);
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
}

body {
  margin: 0px;
  background-color: var(--bgColor);
  font-family: "Montserrat Alternates";
  font-size: 16px;
  color: var(--textColor);
  overflow-x: hidden;
}

body.light {
  --bgColor: #e9e9eb;
  --secondaryBGColor: #000;
  --textColor: #000;
  --navbarColor: #292929;
  --boxShadow: 0 2px 15px -3px rgba(0, 0, 0, 0.2),
    0 10px 20px -2px rgba(0, 0, 0, 0.2);
  --paragraphOpacity: 90%;
}

.section-seperator {
  width: 80%;
  height: 1px;
  opacity: var(--paragraphOpacity);
  background-color: var(--textColor);
  margin: 3rem auto;
  position: relative;
}

section,
header {
  max-width: 90%;
  margin: 0 auto;
}

section {
  opacity: 0;
  transition: 1s all ease-in-out;
}

section.active {
  opacity: 1;
}

.section-header {
  margin-bottom: 40px;
  font-size: 2.4rem;
  text-align: center;
  color: var(--textColor);
  letter-spacing: 15px;
}

@keyframes movedBoxes {
  0% {
    bottom: -10%;
  }
  100% {
    bottom: 100%;
  }
}

/* Styles only when light mode */

body.light #contact .projects-list li a {
  background-color: var(--bgColor);
  border: 1px solid var(--textColor);
}

body.light #contact .projects-list li a.fa-github {
  color: var(--textColor);
}

body.light .navbar {
  color: var(--bgColor);
}

body.light .navbar .navbar__ham-menu li a {
  color: var(--bgColor);
}

body.light .navbar .navbar__ham-button .navbar__ham-button-inner,
body.light .navbar .navbar__ham-button .navbar__ham-button-inner::before,
body.light .navbar .navbar__ham-button .navbar__ham-button-inner::after {
  background-color: var(--bgColor);
}

body.light #projects .projects__list .projects__card {
  border: 1px ridge var(--textColor);
}

/*End of Styles light mode */

@keyframes left-to-right-animation {
  from {
    left: -100%;
  }
  to {
    left: 0px;
  }
}

@keyframes right-to-left-animation {
  from {
    right: -100%;
  }
  to {
    right: 0px;
  }
}

@media (max-width: 1150px) {
  #projects .projects__list .projects__card {
    flex-direction: column;
    max-width: 650px;
  }

  #projects .projects__list .projects__card .projects__card-img {
    width: auto;
    order: unset !important;
  }

  #projects .projects__list .projects__card .projects__card-content {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  #skills .skills-content {
    width: 70%;
  }

  #skills .skills-img {
    width: 25%;
  }
}

@media (max-width: 992px) {
  header,
  #about {
    flex-direction: column;
  }

  .about__image {
    order: 1;
  }

  .about__content {
    order: 2;
  }

  #projects #carouselExampleIndicators {
    width: 75%;
  }

  #projects .carousel-indicators > button {
    width: 20%;
  }

  header .header__content p {
    font-size: 1.3rem;
    width: auto;
  }

  #skills .skills-img {
    width: 30%;
  }
}

@media (max-width: 820px) {
  .section-header_md {
    font-size: 2rem;
  }

  #projects #carouselExampleIndicators {
    width: 85%;
  }

  #about .about__list {
    font-size: 0.9rem;
  }

  #about .about__list-2,
  #about .about__list-4,
  #about .about__list-3 {
    width: 100%;
  }

  #skills .skills-container {
    flex-direction: column;
    gap: 50px;
  }

  #skills .skills-content {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .navbar {
    padding: 15px 20px;
  }

  .navbar .navbar__ham-button {
    display: block;
    transition: all 0.1s ease-in-out;
  }

  .navbar .navbar__ham-menu {
    position: absolute;
    right: -100%;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--navbarColor50);
    margin: 0;
    padding: 0;
    /* border-top: 1px solid white; */
  }

  .navbar .navbar__ham-menu li {
    width: 75%;
    text-align: center;
    padding: 1rem 0;
  }

  .navbar .navbar__ham-menu li + li {
    border-top: 1px solid white;
  }

  .navbar .navbar__ham-menu li a {
    font-size: 1.2rem;
    width: 100%;
    display: block;
  }

  .navbar .navbar__ham-button.active .navbar__ham-button-inner {
    transform: rotate(225deg);
  }

  .navbar .navbar__ham-button.active .navbar__ham-button-inner::before {
    height: 0;
  }
  .navbar .navbar__ham-button.active .navbar__ham-button-inner::after {
    width: 100%;
    transform: rotate(90deg);
    top: 0;
  }

  .navbar .navbar__ham-button.active + .navbar__ham-menu {
    right: 0;
    z-index: 5;
  }

  .navbar .navbar__ham-button:hover {
    color: rgb(255, 81, 0);
  }
}

@media (max-width: 520px) {
  body {
    font-size: 14px;
  }

  /* .close-nav-icon {
    cursor: pointer;
  }
  .close-nav-icon:hover {
    filter: invert(43%) sepia(94%) saturate(3771%) hue-rotate(359deg)
      brightness(101%) contrast(104%);
  } */

  #projects #carouselExampleIndicators {
    width: 90%;
  }

  #contact .projects-list {
    column-gap: 25px;
  }

  header .header__content p {
    font-size: 1.1rem;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 12px;
  }

  #about .about__list {
    font-size: 0.8rem;
  }

  .footer-copyright * {
    font-size: 12px;
  }

  .downloadCV-Btn {
    width: 60%;
    padding: 10px 20px;
    font-weight: 600;
  }
}
