@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --bgColor: #131722;
  --navbarColor: #1a1e29;
  --navbarColor50: rgba(26, 30, 41, 0.95);
  --textColor: rgb(243, 239, 239);
  --secondaryBGColor: rgb(189, 182, 182);
  --boxShadow: 0 2px 15px -3px rgba(255, 255, 255, 0.07),
    0 10px 20px -2px rgba(255, 255, 255, 0.04);
  --navbarButton: 30px;
  --paragraphOpacity: 75%;
  --barBackground: rgb(177 66 42);
  --barShadow: 0 2px 15px -3px rgba(177, 66, 42, 0.25),
    0 10px 20px -2px rgba(177, 66, 42, 0.25);
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
}

body {
  margin: 0px;
  background-color: var(--bgColor);
  font-family: "Montserrat Alternates";
  font-size: 16px;
  color: var(--textColor);
  overflow-x: hidden;
}

body.light {
  --bgColor: #e9e9eb;
  --secondaryBGColor: #000;
  --textColor: #000;
  --navbarColor: #292929;
  --boxShadow: 0 2px 15px -3px rgba(0, 0, 0, 0.2),
    0 10px 20px -2px rgba(0, 0, 0, 0.2);
  --paragraphOpacity: 90%;
}

.section-seperator {
  width: 80%;
  height: 1px;
  opacity: var(--paragraphOpacity);
  background-color: var(--textColor);
  margin: 3rem auto;
  position: relative;
}

section,
header {
  max-width: 90%;
  margin: 0 auto;
}

section {
  opacity: 0;
  transition: 1s all ease-in-out;
}

section.active {
  opacity: 1;
}

.section-header {
  margin-bottom: 40px;
  font-size: 2.4rem;
  text-align: center;
  color: var(--textColor);
  letter-spacing: 15px;
}

.avatar-image {
  border-radius: 50%;
  overflow: hidden;
}

@keyframes movedBoxes {
  0% {
    bottom: -10%;
  }
  100% {
    bottom: 100%;
  }
}

/* Styles only when light mode */

body.light #contact .projects-list li a {
  background-color: var(--bgColor);
  border: 1px solid var(--textColor);
}

body.light #contact .projects-list li a.fa-github {
  color: var(--textColor);
}

body.light .navbar {
  color: var(--bgColor);
}

body.light .navbar .navbar__ham-menu li a {
  color: var(--bgColor);
}

body.light .navbar .navbar__ham-button .navbar__ham-button-inner,
body.light .navbar .navbar__ham-button .navbar__ham-button-inner::before,
body.light .navbar .navbar__ham-button .navbar__ham-button-inner::after {
  background-color: var(--bgColor);
}

body.light #projects .projects__list .projects__card {
  border: 1px ridge var(--textColor);
}

/*End of Styles light mode */

@keyframes left-to-right-animation {
  from {
    left: -100%;
  }
  to {
    left: 0px;
  }
}

@keyframes right-to-left-animation {
  from {
    right: -100%;
  }
  to {
    right: 0px;
  }
}
